.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height:200px;
  //background: #ccc;
  @media (min-width:$medium) {
    min-height:400px;
  }
}

.hero-title{
  font-size: 3em;
  margin-bottom: $unit-small;
}

.hero-subtitle{

}